

html,body{
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  min-width:260px;
  color:#333;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}

#main{
  margin:30px auto;
  padding:15px;
  border:0px solid;
  border-radius:5px;
  background:rgb(234,188,271);
  );
}

img{
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;
  background:#eee;
}
#img-div{
  margin:-5px;
  margin-top:20px;
  width:100%;
}
#img-caption{
  margin:15px;
text-align: left;
  padding-bottom: auto;

}
#headline{
  margin-top:50px;
  text-align:left;
}
#intro {
  text-align: justify;
}
ul{
  max-width:550px;
  margin:0 auto;
  text-align:left;
}
li{
  margin: 10px;
}
